<div class="container mt-5 text-center">

    <h2 class="text-success">
        Order Placed Successfully!
    </h2>

    <p class="mt-3">
        Thank you for your order.
    </p>

    <a asp-controller="Food"
       asp-action="Index"
       class="btn btn-primary mt-3">
        Continue Shopping
    </a>

</div>