@model IEnumerable<FoodOrdering.Domain.Entities.Category>

@{
    ViewData["Title"] = "Categories";
}

<div class="container mt-4">

    <div class="d-flex justify-content-between mb-3">

        <h2>Categories</h2>

        <a asp-action="Create"
           class="btn btn-primary">
            Add Category
        </a>

    </div>

    <table class="table table-bordered table-striped">

        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>

        <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }

        </tbody>

    </table>

</div>